---
import { getCollection } from 'astro:content';

import Layout from "../layout/Layout.astro";
import Link from "../components/Link.astro";

const [posts, lists] = await Promise.all([
  getCollection('blog', ({ data }) => !data.draft),
  getCollection('lists', ({ data }) => !data.draft),
]);

const postsSorted = posts.sort((a, b) =>
  Math.floor(b.data.pubDate / 1000) -
  Math.floor(a.data.pubDate / 1000)
);
---

<Layout>
  <div>
    <h1>Pedro Viana</h1>
    <section class="description">
      <p>Programação, matemática e arquitetura de software.</p>
    </section>
  </div>
  <section class="lists">
    <h2>Listas</h2>
    <ul>
      {lists.map(list => (
        <li>
          <Link href={`/lists/${list.slug}`}>
            <p class="post-title">
              {list.data.title}
            </p>
          </Link>
        </li>
      ))}
    </ul>
  </section>
  <section class="posts">
    <h2>Artigos</h2>
    <ul>
      {postsSorted.map(post => (
        <li>
          <p>
            {post.data.pubDate.toISOString().split('T')[0]}
          </p>
          <Link href={`/blog/${post.slug}`}>
            <p class="post-title">
              {post.data.title}
            </p>
          </Link>
        </li>
      ))}
    </ul>
  </section>
  </section>
</Layout>

<style>
  .description {
    display: flex;
    flex-direction: column;
    row-gap: var(--spacing-2x);
  }

  .posts ul {
    display: flex;
    flex-direction: column;
    gap: var(--spacing);
  }

  .posts ul li {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: var(--spacing-8x);
  }

  .posts :global(a) {
    flex: 1;
  }

  @media screen and (max-width: 425px) {
    .posts ul {
      gap: var(--spacing-2x);
    }

    .posts ul li {
      flex-direction: column;
    }
  }
</style>

